# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg

# Django
db.sqlite3
media/
staticfiles/

# Environments
.env
.venv/
ENV/
env/
venv/

# IDE / Editor
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db